body {
    background-color: #fff;
    margin: 0;
    }

img {
    max-width: 100%;
    margin: 0;
    bottom: 0;
}

a {
    text-decoration: none; 
    }

header {
    background-color: white;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 50px;
}

header img {
    display: none;
 }

header h1{
    color:#184108;
    font-family: 'Molle';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}


nav a {
    color: #184108;
    text-decoration: none;
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

div#menu li ul{
    display: none;
}

div#menu a{
    padding: 5px 30px;
}

div#menu li:hover ul{
    display: block;
    position:absolute;
    z-index: 1;
    width: auto;
    padding: 0px 0px;
    margin: 10px 0px;
    border-radius: 5px;
    background: white;
    width: auto;
    height: 80px;
}




div.card1 {
    background-color: #102C05;
    height: 700px;
    width: 100%;
    margin: 0;
    bottom: 0;
    display: flex;
    justify-content: right;
}

div.card1{
    display: flex;
    margin: 0;
    bottom: 0;
}

div.card1 img {
    margin: 0;
    bottom: 0;
    width: 611px;
    height: 700px;
    object-fit: cover;
}

div.testo h1 {
    color: #FFF;
    font-family: 'Inter';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 57.6px */
    width: 344px;
    height: auto;
    margin: 0;
    bottom: 0;
}

div.testo p {
    width: 459px;
    height: auto;
    color: #FFF;
    margin-top: 47px;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

div.testo {
    bottom: 0;
    margin-left: 227px;
    margin-top: 169px;
    margin-bottom: 420px;
    margin-right: 148px;
}




div.card2 h2{
    color: #3C801C;
    font-family: 'Inter';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 374px;
    height: auto;
    margin: 0;
    bottom: 0;
}

div.card2 p{
    width: 374px;
    height: auto;
    color: #000;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}

div.card2 {
    bottom: 0;
    margin-left: 237px;
    margin-top: 78px;
    margin-bottom: 60px;
    margin-right: 20px;
}




div.card3 h2{
    color: #3C801C;
    font-family: 'Inter';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 374px;
    height: auto;
    margin: 0;
    bottom: 0;
}

div.card3 p{
    width: 374px;
    height: auto;
    color: #000;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}

div.card3 {
    bottom: 0;
    margin-left: 237px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 20px;
}




div.card4 h2{
    color: #3C801C;
    font-family: 'Inter';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 374px;
    height: auto;
    margin: 0;
    bottom: 0;
}

div.card4 p{
    width: 374px;
    height: auto;
    color: #000;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}

div.card4 {
    bottom: 0;
    margin-left: 237px;
    margin-top: 60px;
    margin-right: 20px;
}



div.tutto{
    display: flex;
}

div.card5 form {
    color: #000;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    bottom: 0;
    margin-left: 20px;
    margin-top: 78px;
}

div.card6 input{
    width: 749px;
    border: 0.7px solid #3C801C;
    margin-bottom: 15px;
    color: #757575;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0 0 0 15px;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

div.card7 input{
    width: 749px;
    border: 0.7px solid #3C801C;
    margin-bottom: 15px;
    color: #757575;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0 0 0 15px;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

div.card8 input{
    width: 749px;
    border: 0.7px solid #3C801C;
    margin-bottom: 15px;
    color: #757575;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0 0 0 15px;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

div.card9 input{
    width: 749px;
    border: 0.7px solid #3C801C;
    margin-bottom: 15px;
    color: #757575;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0 0 0 15px;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

div.card10 input{
    width: 749px;
    border: 0.7px solid #3C801C;
    margin-bottom: 15px;
    color: #757575;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0 0 0 15px;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

div.card11 input{
    width: 749px;
    border: 0.7px solid #3C801C;
    margin-bottom: 15px;
    color: #757575;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 14px 0 95px 15px;
    margin-top: 15px;
    margin-left: 20px;
}

div.card12 h6{
    width: 374px;
    height: auto;
    color: #000;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-top: 62px;
    margin-left: 20px;
    padding: 0;
}

div.card12 p{
    width: 770px;
    height: auto;
    color: #000;
font-family: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
margin-top: 40px;
margin-left: 20px;
padding: 0;
}

div.card12 form {
    color: #000;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    bottom: 0;
    margin-left: 20px;
    margin-top: 11px;
}

div.card13 p{
    width: 770px;
    height: auto;
    color: #000;
font-family: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
margin-top: 31px;
margin-left: 20px;
padding: 0;
}

div.card13 form {
    color: #000;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    bottom: 0;
    margin-left: 20px;
    margin-top: 11px;
}

div.card14 p{
    width: 770px;
    height: auto;
    color: #000;
font-family: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
margin-top: 31px;
margin-left: 20px;
padding: 0;
}

div.card14 form {
    color: #000;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    bottom: 0;
    margin-left: 20px;
    margin-top: 11px;
}

#b1{
    outline: none;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    width: 93px;
    height: 40px;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    border-radius: 50px;
    border-style: none;
    background: #3C801C;
    text-decoration: none;
    margin: 0;
    margin-top: 33px;
    margin-left: 20px;
    margin-bottom: 110px;
}




footer {
    background-color: #102C05;
    height: 320px;
    margin: 0;
    padding: 0;
}
    
footer{
    display: flex;
    margin: 0;
    padding: 0;
}
    
div.titolofooter h1 {
    color: #fff;
    font-family: 'Molle';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    margin-top: 64px;
    margin-left: 122px;
}
    
    
div.due {
    display: flex;
    margin-top: 83px;
    margin-left: 268px;
}
    
div.contatti {
    padding-left: 56px;
    text-align: left;
}
    
div.social h5 {
    color: #F57600;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
    
div.social a  {
    list-style: none;
    text-decoration: none;
    color: #D9D9D9;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    }
    
div.social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}
    
div.contatti h5 {
    color: #F57600;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
        
div.contatti ul  {
    list-style: none;
    text-decoration: none;
    color: #D9D9D9;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}
        
div.contatti ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}



/*VISUALIZZAZIONE MOBILE VERTICALE*/
@media (max-width: 400px)
{
    body {
        background-color: #fff;
        margin: 0;
        }

        header {
            background-color: white;
            padding: 5px 15px;
            display: flex;
            justify-content:space-around;
            width: auto;
            height: 50px;
        }

        header h1{
            color:#184108;
            font-family: 'Molle';
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            text-decoration: none;
        }
        
        header img {
            display: flex;
margin-left: 180px;        }

        nav ul {
            display: none;
        }
        
        
        nav a {
            display: none;

        }
        
        div#menu li ul{
            display: none;
        }
        
        div#menu a{
            display: none;

        }
        
        div#menu li:hover ul{
            display: none;
        }





        
        div.card1 {
            background-color: #102C05;
            height: 428px;
            width: 100%;
            margin: 0;
            bottom: 0;
            display: flex;
            flex-direction: column-reverse;
        }
        
        div.card1{
            display: flex;
            margin: 0;
            bottom: 0;
        }
        
        div.card1 img {
            margin: 0;
            bottom: 0;
            width: 100%;
            height: 216px;
            object-fit: cover;
        }
        
        div.testo h1 {
            color: #FFF;
        font-family: 'Inter';
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 90.023%; /* 52.213px */
            margin: 0;
            bottom: 0;
            margin-top: 34px;
            margin-left: 16px;
        }
        
        div.testo p {
            color: #FFF;
        font-family: 'Inter';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 256px;
        margin: 0px;
        padding: 0;
        margin-top: 29px;
        margin-left: 68px;
        }
        
        div.testo {
            bottom: 0;
            margin: 0;
        }




        div.card2 h2{
            color: #3C801C;
            font-family: 'Inter';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 374px;
            height: auto;
            margin: 0;
            bottom: 0;
            margin-top: 44px;
            margin-left: 16px;
            width: 306px;
        }
        
        div.card2 p{
            width: 374px;
            height: auto;
            color: #000;
            font-family: 'Inter';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 8px;
            margin-left: 16px;
        }
        
        div.card2 {
            margin: 0;
            padding: 0;
            width: 306px;
        }



        div.card3 h2{
            color: #3C801C;
            font-family: 'Inter';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 374px;
            height: auto;
            margin: 0;
            bottom: 0;
            margin-top: 44px;
            margin-left: 16px;
            width: 306px;
        }
        
        div.card3 p{
            width: 374px;
            height: auto;
            color: #000;
            font-family: 'Inter';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 8px;
            margin-left: 16px;
        }
        
        div.card3 {
            margin: 0;
            padding: 0;
            width: 306px;
        }




        div.card4 h2{
            color: #3C801C;
            font-family: 'Inter';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 374px;
            height: auto;
            margin: 0;
            bottom: 0;
            margin-top: 44px;
            margin-left: 16px;
            width: 306px;
        }
        
        div.card4 p{
            width: 374px;
            height: auto;
            color: #000;
            font-family: 'Inter';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 8px;
            margin-left: 16px;
        }
        
        div.card4 {
            margin: 0;
            padding: 0;
            width: 306px;
        }


        div.card5 form {
            color: #000;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            bottom: 0;
            margin-left: 16px;
            margin-top: 47px;
        }


        div.card6 input{
            width: 360px;
            height: 30px;
           border: 0.7px solid #3C801C;
            margin-bottom: 11px;
            color: #757575;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            padding: 0 0 0 15px;
            margin-top: 21px;
            margin-left: 15px;
        }

        div.card7 input{
            width: 360px;
            height: 30px;
           border: 0.7px solid #3C801C;
            margin-bottom: 11px;
            color: #757575;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            padding: 0 0 0 15px;
            margin-top: 11px;
            margin-left: 15px;
        }

        div.card8 input{
            width: 360px;
            height: 30px;
           border: 0.7px solid #3C801C;
            margin-bottom: 11px;
            color: #757575;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            padding: 0 0 0 15px;
            margin-top: 11px;
            margin-left: 15px;
        }

        div.card9 input{
            width: 360px;
            height: 30px;
           border: 0.7px solid #3C801C;
            margin-bottom: 11px;
            color: #757575;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            padding: 0 0 0 15px;
            margin-top: 11px;
            margin-left: 15px;
        }

        div.card10 input{
            width: 360px;
            height: 30px;
           border: 0.7px solid #3C801C;
            margin-bottom: 11px;
            color: #757575;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            padding: 0 0 0 15px;
            margin-top: 11px;
            margin-left: 15px;
        }

        div.card11 input{
            width: 360px;
            height: 30px;
           border: 0.7px solid #3C801C;
            margin-bottom: 11px;
            color: #757575;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            padding: 0 0 0 15px;
            margin-top: 11px;
            margin-left: 15px;
        }



        div.card12 h6{
            width: 360px;
            height: auto;
            color: #000;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
            margin-top: 76px;
            margin-left: 15px;
            padding: 0;
        }
        
        div.card12 p{
            width: 360px;
            height: auto;
            color: #000;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        margin-top: 23px;
        margin-left: 15px;
        padding: 0;
        }

        div.card12 form {
            color: #000;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            bottom: 0;
            margin-left: 15px;
            margin-top: 21px;
        }


        div.card13 p{
            width: 360px;
            height: auto;
            color: #000;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        margin-top: 32px;
        margin-left: 15px;
        padding: 0;
        }

        div.card13 form {
            color: #000;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            bottom: 0;
            margin-left: 15px;
            margin-top: 21px;
        }

        div.card14 p{
            width: 360px;
            height: auto;
            color: #000;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        margin-top: 23px;
        margin-left: 15px;
        padding: 0;
        }

        div.card14 form {
            color: #000;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            bottom: 0;
            margin-left: 15px;
            margin-top: 21px;
        }


        #b1{
            outline: none;
            cursor: pointer;
            text-align: center;
            color: #FFF;
            width: 93px;
            height: 40px;
            font-family: 'Inter';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 0;
            border-radius: 50px;
            border-style: none;
            background: #3C801C;
            text-decoration: none;
            margin: 0;
            margin-top: 46px;
            margin-left: 15px;
            margin-bottom: 95px;
        }






        
        
        
                  footer {
                background-color: #102C05;
                height: 213px;
                width: 100%;
                margin: 0;
                padding: 0;
                display:flex;
                flex-direction: column;
            }
            
            
            div.titolofooter h1 {
                color: #FFF;
                font-family: 'Molle';
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 18px;
                margin-left: 24px;
        
        
            }
            
            
            div.due {
                display: flex;
                margin-left: 24px;
               margin-top: 38px;
        
            }
            
            div.contatti {
                padding-left: 56px;
                text-align: left;
            }
            
            div.social h5 {
                color: #F57600;
                font-family: 'Inter';
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 90.523%; /* 12.673px */
            margin: 0;
            padding: 0;
            }
            
            div.social a  {
                color: #D9D9D9;
                font-family: 'Inter';
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 12px
            
            }
            
            div.social ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top: 17px;
            }
            
            div.contatti h5 {
                color: #F57600;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 90.523%; /* 12.673px */
        
                }
                
                div.contatti ul  {
                    color: #D9D9D9;
                    font-family: 'Inter';
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 12px;
                
                }
                
                div.contatti ul {
                    color: #D9D9D9;
                    font-family: 'Inter';
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px
                
                }
        
                div.contatti ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    margin-top: 16px;
                    width:max-content;
            
                    }
        
                    div.contatti a  {
                        color: #D9D9D9;
                        font-family: 'Inter';
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 12px
                    
                    }



div.tutto{
    display: flex;
flex-direction: column;
margin: 0;
padding: 0;
row-gap: 0;
}





}
